body {
  margin: 0;
  background: #242424;
  /* background: #000000; */
  /* background: #2a532a; */
}

#app {
  display: flex;
  justify-content: center;
}

#app > div:first-child {
  transform-origin: top !important;
}
